

.container-fluid {
    max-width: 100%;
    height: 100vh; 
    width:100vw;
    padding-top: 85px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #323232;
    background-image: url('../../assets/listingspage.jpeg');
}

  
  .listings-accordion .accordion-item:last-child {
    border-bottom: none;
  }
  
  .listings-accordion .item-header {
    background-color: #EFF1F3;
    padding: 10px;
    cursor: pointer;
    height: 7vh;
    
  }
  
  .listings-accordion .item-header:hover {
    background-color: #e2e2e2;
  }
  
  .listings-accordion .btn-link {
    color: #333;
    font-weight: bold;
    text-decoration-color: black;
    text-decoration: none;
  }
  
  
  .page-name{
    margin-left: 40rem;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: "Gill Sans"
}

.navbar-row {
    margin-left: 25rem;
}

.nav-item{
    color: black;
}

.container-fluid {
    max-width: 100%;
    background-image: url('../../assets/bg-house.jpg');
    height: 100vh; 
    width:100vw;
}

.listings-button {
    margin-top: 20rem;
    background-color: beige;
    color: black;
}
  
  .pagination {
    margin-top: 20px;
    float: right;
  }
  
  .pagination button {
    
    margin-right: 10px;
    border: none;
    background-color: black;
    color: #D3D3D3;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  