.slick-slider {
    width: 88%;
    min-height: fit-content;
    margin-top: 10rem;
    margin-left: 5rem;
    background: rgb(163, 161, 161); 
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }

.slide {
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
}

.cardtext {
    margin-left: 4rem;
    margin-right: 2rem;
}

.slick-track {
    background-color: None;
}
    
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: #0c0c0c !important;
    z-index: 100;
}

.container-fluid {
    max-width: 100%;
    background-image: url('../../assets/luxe-en.jpg');
    height: 100vh; 
    width:100vw;
}

.page-name{
    margin-left: 40rem;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: "Gill Sans"
}

.navbar-row {
    margin-left: 25rem;
}

.nav-item{
    color: black;
}

.listings-button {
    margin-top: 20rem;
    background-color: beige;
    color: black;
}