.page-name{
    margin-left: 40rem;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: "Gill Sans"
}

.navbar-row {
    margin-left: 25rem;
}

.nav-item{
    color: black;
}

.container-fluid {
    max-width: 100%;
    background-image: url('../../assets/bg-house.jpg');
    height: 100vh; 
    width:100vw;
}

.listings-button {
    margin-top: 20rem;
    background-color: beige;
    color: black;
}